.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.control-panel{
    width:100vw;
    height:15vh;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #808080;
}

.current_level{
    position: relative;
    width: 200px;
    height: 100px;
}

.level_img{
    position: absolute;
    width: 100%;
}

.level_text{
    position: absolute;
    width: 100%;
    left: 100px;
    bottom: 25px;

}

.control-space{
    margin-left: 200px;
}

.objective-function-panel{
    width: 100vw;
    height: 33vh;
    display:flex;
    flex-direction: row;
}
.objective-function{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.left_ofp{
    height: 100%;
    width: 60%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right_ofp{
    height: 100%;
    width: 40%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-feature{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.generated-spells-panel{
    width: 100vw;
    height:55vh;
    display: flex;
    flex-direction: row;
}

.spell-name{
    width: 60%;
    height: 100%;
    display:flex;
    flex-direction: column;

    align-items: center;
}

.ranked-results{
    width: 40%;
    height: 100%;
    display:flex;
    flex-direction: row;
   justify-content: center;
   overflow-x: hidden;
}

.spell-box{
    display:flex;
    flex-direction: column;
    width: 45%;
}
.space{
    margin-left: 10px;
}
.bar{
    margin-bottom: 10px;
    overflow-y: scroll;
}
.word{
    margin: 5px 10px;
}

.add{
    margin-left: 15px;
    margin-right: 15px;
}